[submodule ".registry"]
	path = .registry
	url = https://github.com/johnkirwan/johnkirwan.r-universe.dev
	branch = HEAD
[submodule "radiatR"]
	path = radiatR
	url = https://github.com/JohnKirwan/radiatR
